body {
    width: 80%;
    margin-left: 10%;
}

iframe {
    border: none;
}

._dash-undo-redo {
    display: none;
}

h4, h5 {
    color: gray;
}

.text_left {
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

.image_right35 {
  width: 35%;
}
